<div class="container-fluid">
  <div class="card">
    <div class="header">
      <ul class="nav nav-tabs" data-toggle="tab">
        <li class="active">{{#link-to "gateways.show.tunnels" gateway.id}}
           <span class="pe-7s-share" aria-hidden="true"></span>
             <div class="hidden-xs">Tunnels</div>
         {{/link-to}}
        </li>
        <li data-toggle="tab">
         {{#link-to "gateways.show.scans" gateway.id}}
           <span class="pe-7s-helm" aria-hidden="true"></span>
               <div class="hidden-xs">Scans</div>
         {{/link-to}}
        </li>
        <li data-toggle="tab">
          {{#link-to "gateways.show.speedtests" gateway.id}}
            <span class="fa fa-dashboard" aria-hidden="true"></span>
                <div class="hidden-xs">Speedtests</div>
              {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="content">
      {{outlet}}
    </div>
  </div>
</div>
