<div class="container-fluid">
  {{#if (eq job.last_result 'Passed')}}
    <i class="pe-7s-check" style="font-size:32px; text-align: center; color:green;"></i>
  {{else}}
    <i class="pe-7s-attention" style="font-size:32px; text-align: center; color:red;"></i>
  {{/if}}
</div>
{{outlet}}
