{{#if tunnelModal}}
  {{#modal-dialog translucentOverlay=true containerClass="create-tunnel-modal" clickOutsideToClose=true onClose='closeModalDialog'}}
    <h4>Enter Tunnel Details</h4>
      <div class="container-fluid">
        <form>
          <div class="form-group">
            <div class="form-group row">
              <label for="remotehost">Remote Host</label>
              {{input type="text" id="remotehost"class="form-control" value=remotehost placeholder="192.168.10.25" }}
            </div>
            <div class="form-group row">
              <label for="remoteport">Remote Port</label>
              {{input type="text" class="form-control" value=remoteport placeholder="80" }}
            </div>
            <div class="form-group row">
              <label for="timeout">Timeout in minutes</label>

              {{input type="text" id="timeout" class="form-control" value=timeout placeholder="30" }}
            </div>
             <button class="btn btn-primary" {{action "createTunnel" model.id }}>Create</button>
          </div>
        </form>
      </div>
  {{/modal-dialog}}
{{/if}}
