<!-- <button class="btn btn-primary" {{action "createSpeedTest"}}>Create Speed Test</button> -->
{{#if isShowingModal}}
  {{#modal-dialog translucentOverlay=true containerClass=create-scan-modal clickOutsideToClose=true onClose='closeModalDialog'}}
    <h4 style="text-align: centered;">Submit Speedtest?</h4>
     <button class="btn btn-primary" {{action "createSpeedTest"}}>Yes</button>
  {{/modal-dialog}}
{{/if}}
