<div class="row"/>
<div class="card">
  <div class="header">
    <h4 class="title">Result Detail</h4>
    <ul class="list-group">
      <li class="list-group-item">ID: {{model.id}}</li>
      <li class="list-group-item">Result: {{model.results}}</li>
    </ul>
  </div>
  <div class="content">
  <h4>Output from Plugin</h4>

    {{{model.pluginHTMLResponse}}}
  </div>
</div>

{{outlet}}
